# dependencies
node_modules
.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
out/

# production
build

# vercel
.vercel

# editor
/.vscode
/.idea

# typescript
*.tsbuildinfo

# storybook
storybook-static

# codegen
__generated__
src/base/cms-adapters/datocms/types/*.ts

src/scripts
