{
  "extends": ["next", "prettier", "plugin:@typescript-eslint/recommended", "plugin:import/typescript"],
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "rules": {
    "@next/next/no-html-link-for-pages": "off",
    "react/jsx-key": "off",
    "import/no-duplicates": "error",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", ["sibling", "parent"], "index", "internal", "object"],
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin", "object"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "^_" }],
    "@typescript-eslint/no-duplicate-imports": ["error", { "includeExports": true }],
    "@typescript-eslint/consistent-type-imports": ["error", { "prefer": "type-imports" }],
    "@typescript-eslint/prefer-optional-chain": ["warn"]
  }
}
